@font-face {
    font-family: 'Luckiest Guy';
    src: url('LuckiestGuy-Regular.woff2') format('woff2'),
        url('LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Boogaloo';
    src: url('Boogaloo-Regular.woff2') format('woff2'),
    url('Boogaloo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

